h2{
font-size:20px;
padding:20px;
color:#999;
}

.customImage{
height:auto;	
width:70%;
}

form{
margin-right:50px;
}

#tamaños{
padding:20px;
}

.recuadro{
border:1px solid #718239;
border-radius:5px;
width:49%;
margin:5px;
}

button label{
padding:5px;
}

button.special.small{
background-color:#718239;
color:#fff;
border-radius:30px;
padding:5px;
margin-bottom:10px;
border-color:transparent;
}

.botonx{
background-color:transparent;
color:#bd290c;
border-radius:30px;
padding:10px;
border:2px solid;
margin-bottom:10px;
border-color:#bd290c;
}

.verde{
background-color:#718239;
color:#fff;
border-radius:30px;
padding:10px;
margin-bottom:10px;
border-color:transparent;
}

.botoncancel{
background-color:transparent;
color:#e53012;
border-radius:30px;
padding:10px;
border:2px solid;
margin-bottom:10px;
border-color:#e53012;
}

ul.actions{
list-style:none;
}

ul li{
display:inline-block;
margin:10px;
}