<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<ng-template #priceNotMatch>
  <app-cancel-template [modalTitle]="modalPriceNotMatchTitle" [modalMessage]="modalPriceNotMatchMessage"
    (handleOkButton)="closeModalAndContinue()" (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<!-- Form -->
<div *ngIf='product'>
 <header class="major" align="center">
    <h2>Editando: {{productNameModified}}</h2>
  </header>

  <div>
   
    <form method="post" novalidate [formGroup]="productForm">
      <div class="row">
        <div class="col-md-6">
          <img class="customImage" [src]="productPictureData"
            onerror="this.src='../../../assets/img/No_image_available.svg'" />
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Código:</label>
            <input formControlName="code" type="text" class="form-control"
              [class.is-invalid]="productForm.get('code').invalid && (productForm.get('code').dirty || productForm.get('code').touched)"
              id="code">
          </div>

          <div
            *ngIf="productForm.get('code').invalid && (productForm.get('code').dirty || productForm.get('code').touched)"
            class="alert alert-danger">
            El código del Producto es requerido.
          </div>

          <div class="form-group">
            <label>Nombre:</label>
            <input formControlName="name" type="text" class="form-control"
              [class.is-invalid]="productForm.get('name').invalid && (productForm.get('name').dirty || productForm.get('name').touched)"
              id="name">
          </div>

          <div
            *ngIf="productForm.get('name').invalid && (productForm.get('name').dirty || productForm.get('name').touched)"
            class="alert alert-danger">
            El nombre del Producto es requerido.
          </div>

          <div class="form-group">
            <label>Categoría:</label>
            <div class="select-wrapper">
              <select formControlName="category" type="text" class="form-control"
                [class.is-invalid]="productForm.get('category').invalid && (productForm.get('category').dirty || productForm.get('category').touched)"
                id="category">
                <option value="default" default>Seleccione la categoría...</option>
                <option [value]=cat._id *ngFor='let cat of categories'>{{cat.name}}</option>
              </select>
            </div>
          </div>

          <div
            *ngIf="productForm.get('category').invalid && (productForm.get('category').dirty || productForm.get('category').touched)"
            class="alert alert-danger">
            La Categoría del producto es requerida.
          </div>

          <div class="form-group">
            <label>Descripción</label>
            <textarea formControlName="description" class="form-control"
              [class.is-invalid]="productForm.get('description').invalid && (productForm.get('description').dirty || productForm.get('description').touched)"
              id="description" rows="3" cols="20"></textarea>
          </div>

          <div
            *ngIf="productForm.get('description').invalid && (productForm.get('description').dirty || productForm.get('description').touched)"
            class="alert alert-danger">
            La descripción del producto es requerida.
          </div>

          <div class="form-group">
            <label>Precio ($):</label>
            <input formControlName="price" type="number" class="form-control"
              [class.is-invalid]="productForm.get('price').invalid && (productForm.get('price').dirty || productForm.get('price').touched)"
              id="price">
          </div>

          <div
            *ngIf="productForm.get('price').invalid && (productForm.get('price').dirty || productForm.get('price').touched)"
            class="alert alert-danger">
            El precio del Producto es requerido.
          </div>

          <app-file-input (validator)="onNotified($event)" [type]="'img'" [subtype]="'product'">
          </app-file-input>
          <div *ngIf="validPicture == false && pictureTouched == true" class="alert alert-danger">
            La imagen del producto es requerida.
          </div>

          <div class="form-group">
            <mdb-checkbox [class.checkbox-primary-custom]="true"  formControlName="available"> {{ checkboxAvailableText }}</mdb-checkbox>
          </div>

          <div class="row" *ngIf="enableStock"> 
            <div class="col-md-4 col-lg-4">
              <div class="md-form">
                <mdb-checkbox [class.checkbox-primary-custom]="true"  formControlName="stockControl"> {{ stockControlText }}</mdb-checkbox>
              </div>
            </div>
            <div class="row col-md-8 col-lg-8" [formGroup]="productForm.controls.stock"
              *ngIf="productForm.get('stockControl').value">
              <div class="col-md-6 col-lg-6">
                <div class="md-form">
                  <input mdbActive formControlName="min" type="number" class="form-control" id="min">
                  <label for="min" class="">Minimo:</label>
                </div>
                <div
                  *ngIf="productForm.get('stockControl').value && ((!productForm.controls.stock.controls.min.dirty) && productForm.controls.stock.controls.min.touched)"
                  class="alert alert-danger">
                  El stock minimo es requerido`
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="md-form">
                  <input mdbActive formControlName="current" type="number" class="form-control" id="current">
                  <label for="current" class="">Actual:</label>
                </div>
                <div
                  *ngIf="productForm.get('stockControl').value && ((!productForm.controls.stock.controls.current.dirty) && productForm.controls.stock.controls.current.touched)"
                  class="alert alert-danger">
                  El stock actual es requerido.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="tamaños" class="row">
	  <div class="recuadro">
        <div class="col-md-6">

          <label>Tamaños:</label>
          <div formArrayName="sizes" *ngFor="let productSize of sizes.controls; let i=index">
            <div [formGroupName]="i" class="form-group">
              <div class="row">
                <div class="select-wrapper col-md-5">
                  <select formControlName="sizeId" class="form-control  browser-default"
                    [class.is-invalid]="productForm.get('sizes').controls[i].controls.sizeId.invalid && (productForm.get('sizes').controls[i].controls.sizeId.dirty || productForm.get('sizes').controls[i].controls.sizeId.touched)"
                    id="{{ 'productSize' + i }}">
                    <option value="default" default>Seleccione el tamaño...</option>
                    <option [value]="size._id" *ngFor='let size of sizesArray'>{{size.name}}</option>
                  </select>
                  <div
                    *ngIf="productForm.get('sizes').controls[i].controls.sizeId.invalid && (productForm.get('sizes').controls[i].controls.sizeId.dirty || productForm.get('sizes').controls[i].controls.sizeId.touched)"
                    class="alert alert-danger">
                    El tamaño es requerido.
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                  <input formControlName="price" type="number" placeholder="Precio($)" class="form-control"
                    [class.is-invalid]="productForm.get('sizes').controls[i].controls.price.invalid && (productForm.get('sizes').controls[i].controls.price.dirty || productForm.get('sizes').controls[i].controls.price.touched)"
                    id="{{ 'productSizePrice' + i }}">

                  <div
                    *ngIf="productForm.get('sizes').controls[i].controls.price.invalid && (productForm.get('sizes').controls[i].controls.price.dirty || productForm.get('sizes').controls[i].controls.price.touched)"
                    class="alert alert-danger">
                    El precio es requerido
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                  <div class="form-check">
                    <input formControlName="default" type="radio" class="form-check-input form-control"
                      (change)="setDefaultSize(i)" name="default" id="{{ 'default' + i }}" [value]="true">
                    <label class="form-check-label" for="{{ 'default' + i }}">Default</label>
                  </div>
                </div>
              </div>
            </div>
				
					<button class="botonx" no-margin color="danger" (click)="removeSize(i)">X</button>
				
          </div>
          <br>
          <button class="special small" (click)="addProductSize()" [disabled]="!sizes.valid">
            Agregar Tamaño
          </button>

        </div>
		</div>

		<div class="recuadro">
        <div class="col-md-6">

          <label>Opciones:</label>
          <div formArrayName="options" *ngFor="let productOption of options.controls; let i=index">
            <div [formGroupName]="i" class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <input formControlName="name" type="text" placeholder="Opción"
                    [class.is-invalid]="productForm.get('options').controls[i].controls.name.invalid && (productForm.get('options').controls[i].controls.name.dirty || productForm.get('options').controls[i].controls.name.touched)"
                    id="{{ 'name' + i }}">

                  <div
                    *ngIf="productForm.get('options').controls[i].controls.name.invalid && (productForm.get('options').controls[i].controls.name.dirty || productForm.get('options').controls[i].controls.name.touched)"
                    class="alert alert-danger">
                    La opción es requerida.
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                  <input formControlName="price" class="form-control" type="number" placeholder="Precio ($)"
                    [class.is-invalid]="productForm.get('options').controls[i].controls.price.invalid && (productForm.get('options').controls[i].controls.price.dirty || productForm.get('options').controls[i].controls.price.touched)"
                    id="{{ 'price' + i }}">

                  <div
                    *ngIf="productForm.get('options').controls[i].controls.price.invalid && (productForm.get('options').controls[i].controls.price.dirty || productForm.get('options').controls[i].controls.price.touched)"
                    class="alert alert-danger">
                    El precio es requerido
                  </div>
                </div>
              </div>
            </div>
            <button class="botonx" no-margin color="danger" (click)="removeOption(i)">-</button>
          </div>
          <br>
          <button class="special small" (click)="addProductOption()" [disabled]="!options.valid">
            Agregar Opción
          </button>

        </div>
		</div>

      </div>
      <br>
      <br>
      <div class="row">
        <div class="12u$">
          <ul class="actions" align="right">
            
			<li><input [disabled]="productForm.invalid" type="submit" value="Aceptar" class="verde"
                (click)="updateProduct()" /></li>
            <li><input (click)="showModalCancel(cancelTemplate)" type="button" class="botoncancel" value="Cancel" /></li>
          </ul>
        </div>
      </div>
    </form>

  </div>
</div>