<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Sala</h4>
  </div>
  <div class="modal-body">
    ¿Seguro desea eliminar esta sala y todas sus mesas?
  </div>
  <div class="modal-footer">
    <button type="button" class="button special" (click)="deleteSection()">Ok</button>
    <button type="button" class="button special" (click)="closeModal()">Cancel</button>
  </div>
</ng-template>
<a (click) = "showModalDelete(deleteTemplate, activeSection._id)" class="btn btn-red btn-sm">Eliminar</a>