<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<div *ngIf='supplier' class="col-12 pl-0 pr-0">
  <div class="col-12 pr-0 outletTitle">
    <h5>
      {{pageTitle + supplierNameModified}}
    </h5>
  </div>
  <form class="pt-4 pr-3 pl-3" #form="ngForm" method="post" novalidate>
    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Nombre:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <input #supplierName="ngModel" required type="text" class="form-control"
            [class.is-invalid]="supplierName.invalid && (supplierName.dirty || supplierName.touched)"
            name="supplierName" id="supplierName" [(ngModel)]="supplier.name">
        </div>
      </div>
      <div *ngIf="supplierName.invalid && (supplierName.dirty || supplierName.touched)" class="alert alert-danger">
        El nombre es un campo es requerido.
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Email:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <input #supplierEmail="ngModel" type="text" class="form-control"
            [class.is-invalid]="supplierEmail.invalid && (supplierEmail.dirty || supplierEmail.touched)"
            name="supplierEmail" id="supplierEmail" [(ngModel)]="supplier.email">
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Teléfono:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <input #supplierTel="ngModel" type="text" class="form-control"
            [class.is-invalid]="supplierTel.invalid && (supplierTel.dirty || supplierTel.touched)" name="supplierTel"
            id="supplierTel" [(ngModel)]="supplier.tel">
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Dirección:</label>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 pl-0">
          <input #supplierAddressStreet="ngModel" type="text" class="form-control" name="supplierAddressStreet"
            id="supplierAddressStreet" [(ngModel)]="supplier.addressStreet" placeholder="Calle">
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 pl-0">
          <input #supplierAddressNumber="ngModel" type="text" class="form-control" name="supplierAddressNumber"
            id="supplierAddressNumber" [(ngModel)]="supplier.addressNumber" placeholder="Número">
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 pl-0">
          <input #supplierAddressDpto="ngModel" type="text" class="form-control" name="supplierAddressDpto"
            id="supplierAddressDpto" [(ngModel)]="supplier.addressDpto" placeholder="Piso / Dpto">
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <mdb-checkbox [class.checkbox-primary-custom]="true"  name="checkEnabledTransactions" [(ngModel)]="supplier.active"> {{ checkboxText }}</mdb-checkbox>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="col-7 offset-5">
        <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.customButtonCancel]="true"
          (click)="showModalCancel(cancelTemplate)">{{cancelButton}}</button>
        <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.btn-primary-custom]="true" [disabled]="form.invalid"
          (click)="updateSupplier(supplier)">{{saveButton}}</button>
      </div>
    </div>
  </form>
</div>