button.special.small{
background-color:#718239;
color:#fff;
border-radius:30px;
padding:5px;
margin-bottom:10px;
border-color:transparent;
padding-left: 10px;
}

.chkAvailable {
  padding-top: 2.2rem;
  margin-left: 1.5rem;
}

.customTextArea {
  width: 42rem;
  height: 5rem;
}

ul li{
  display:inline-block;
  padding:10px;
}

#price {
  width: 6rem;
  text-align: right;
}

.customBackground{
background-color:white;
padding-top:20px;
padding-bottom:20px;
border:solid 1px rgb(180, 180, 180);
border-radius: 15px;
}

label{
  padding-left:10px;
}
