<ng-template #askPinTemplate>
  <app-pin-authenticate [tableNumber]="tableNumber" (close)="closeModal()"></app-pin-authenticate>
</ng-template>

<ng-template #deleteTemplate>
  <app-delete-template [modalTitle]="modalDeleteTitle" [modalMessage]="modalDeleteMessage" (delete)="deleteTable()"
    (close)="closeModal()">
  </app-delete-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="delete()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #editTemplate>
  <div class="container col-md-12">
    <div class="row pageTitle primary-color">
      <div class="col-md-12">
        <h4 class="text-white text-center mb-0">{{editModalTitle + ' ' + tableToEdit.number}}</h4>
      </div>
    </div>
    <div class="modalContent modalContentDelete">
      <div class="row">
        <label for="editNumber">{{editTableNumberText}}</label>
        <input type="number" name="editNumber" id="editNumber" class="form-control" [(ngModel)]="tableNewNumber">
      </div>
      <div class="row">
        <label for="editSection">{{editTableSectionText}}</label>
        <select type="text" class="form-control browser-default" name="editSection" id="editSection"
          [(ngModel)]="tableNewSection">
          <option [value]="section._id" *ngFor='let section of sections'>{{ section.name }}</option>
        </select>
      </div>
    </div>

    <div class="row customFooterModal">
      <div class="footerButtons">
        <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.customButtonCancel]="true"
          (click)="closeModal()">{{cancelButtonText}}</button>
        <button type="button" mdbBtn [class.btn-primary-custom]="true"  rounded="true" size="sm" mdbWavesEffect [class.okButton]="true"
          (click)="saveEditedTable()">{{saveButtonText}}</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Grid Tables -->

<div class="row">
  <div class="container-fluid">
    <div class="rounded z-depth-2 blue-grey lighten-4 fix" [ngGrid]="gridConfig">
      <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config"
        (onChangeStop)="onChangeStop(box, $event)">
        <div class="handle z-depth-3 card accent-4 text-center hoverable"
          (click)="showOpenOrderModal(box.id)" [class.green]="box.status === 'Libre'"
          [class.red]="box.status === 'Ocupada'" [class.yellow]="box.status === 'Comandada'"
          [class.blue]="box.status === 'Reservada'">
          <div class="text-right customCloseCursor" style="position: static;" *ngIf="settingsActive === true"
            (click)="showDeleteModal(deleteTemplate, box)">
            <span aria-hidden="true" class="close pr-2 mr-1 ml-1 pl-1 mt-1 mb-1 pb-1 pt-1">&times;</span>
          </div>
          <div class="text-right customCloseCursor" style="position: static;" *ngIf="settingsActive === true"
            (click)="showEditModal(editTemplate, box.id)">
            <span aria-hidden="true" class="close pr-2 mr-1 ml-1 pl-1 mt-1 mb-1 pb-1 pt-1"><i
                class="fa fa-cog fa-sm"></i></span>
          </div>
          <div class="card-body child">
            <p class="white-text mb-0">{{box.id}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Configuration Buttons -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" *ngIf="settingsActive === true"
  (mouseleave)="fixed.toggle()">

  <a mdbBtn class="waves-light" floating="true"  mdbWavesEffect color="blue" size="lg" (mouseenter)="fixed.toggle()">
    <!-- <i class="fa fa-cog"></i> -->
    <mdb-icon fas icon="cog"></mdb-icon>
  </a>

  <div class="fixed_collapse" mdbCollapse="isCollapsed" #fixed="bs-collapse">
    <a mdbBtn floating="true" color="yellow" class="waves-light" mdbWavesEffect (click)="addBox()"><mdb-icon fas icon="plus"  (click)="fixed.toggle($event)"></mdb-icon></a>
    <a mdbBtn floating="true" color="green" class="waves-light" mdbWavesEffect (click)="saveChanges()" ><mdb-icon fas icon="save"  (click)="fixed.toggle($event)"></mdb-icon></a>
  </div>

</div>