.container{
margin-top: 50px;	
}

.major{
text-align:left;
color:#424242;
}

.form-group{
padding-top:100px;
}

.actions{
list-style:none;
}

ul li{
display:inline-block;
padding:10px;
}

input{
border-radius:20px;
padding:5px;
background-color:transparent;
}

.boton-cancelar{
border:solid 2px #e43012;
background-color:#fff;
color:#e43012;
border-radius:20px;
}

.select-wrapper{
border-radius:20px !important;
}
	