<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<ng-template #nameInvalid>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Producto</h4>
  </div>
  <div class="modal-body">
    Ya existe una categoria con ese nombre, elija uno diferente.
  </div>
  <div class="modal-footer">
    <button type="button" class="button special" (click)="closeModal()">Ok</button>
    <button type="button" class="button special" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>
<div class="container">
  <header class="major" align="center">
    <h2>Nueva Categoría</h2>
  </header>
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" method="post" novalidate>
        <div class="form-group pt-5 pr-5">
          <label>Nombre Categoría:</label>
          <input #categoryName="ngModel" required type="text" class="form-control customInput"
            [class.is-invalid]="categoryName.invalid && (categoryName.dirty || categoryName.touched)"
            name="categoryName" id="categoryName" [(ngModel)]="newCategory.name">
        </div>

        <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)" class="alert alert-danger">
          El nombre de la categoría es requerido.
        </div>

        <div class="form-group" [class.has-error]="hasMenu">
          <label>Menu:</label>
          <div class="select-wrapper">
            <select #categoryMenu="ngModel" required type="text" class="form-control browser-default customInput"
              [class.is-invalid]="hasMenu && menuTouched" name="categoryMenu"
              (blur)="validateCategory(categoryMenu.value)" (change)="validateCategory(categoryMenu.value)"
              id="categoryMenu" [(ngModel)]="menuSelectedId">
              <option value="default" default>Seleccione la carta...</option>
              <option [value]="menu._id" *ngFor='let menu of menus'>{{menu.name}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="hasMenu && menuTouched" class="alert alert-danger">
          El Menu de la Categoría es requerido.
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
          <div class="row pl-2">
            <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
              <mdb-checkbox [class.checkbox-primary-custom]="true" name="categoryAvailable"
                [(ngModel)]="newCategory.available"> {{ checkboxAvailableText }}
              </mdb-checkbox>
            </div>
          </div>
        </div>

        <app-file-input (validator)="onNotified($event)" [type]="'img'" [subtype]="'category'"></app-file-input>
        <div *ngIf="validPicture == '' && pictureTouched == true" class="alert alert-danger">
          La imagen de la categoria es requerida.
        </div>

        <div>
          <ul align="center">
            <li>
              <button id="cancel" mdbBtn role="button" rounded="true" size="md" mdbWavesEffect
                [class.btn-primary-custom]="true" type="button" class="boton-cancelar"
                (click)="showModalCancel(cancelTemplate)">Cancelar
              </button>
            </li>
            <li>
              <button mdbBtn role="button" rounded="true" size="md" mdbWavesEffect [class.btn-primary-custom]="true"
                [disabled]="form.invalid || validPicture === ''" type="submit" (click)="saveCategory()">Guardar</button>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <img [src]="newCategoryPictureData" onerror="this.src='../../../assets/img/no-image.png'"
        style="width: 300px; height: 316px;" />
    </div>
  </div>
</div>