<div class="container-fluid rounded z-depth-2 blue-grey lighten-4 fix">
  <div class="row">
    <div class="col-lg-7 pt-2">

        <div class="card card-cascade narrower childLeft animated fadeIn">

            <!--Card image-->
            <div class="view card-header customCardCascade narrower py-2 mx-4 mb-1 d-flex justify-content-between align-items-center">

                <a href="" class="white-text mx-3">Estado de Pedidos por Delivery</a>

                <!--Checkbox butons-->
                <div class="btn-group" data-toggle="buttons">

                    <label class="btn btn-sm btn-success form-check-label">
                        <input class="form-check-input btn-sm" type="radio" checked autocomplete="off"> Entregado
                    </label>

                    <label class="btn btn-sm btn-warning form-check-label">
                        <input class="form-check-input" type="radio" autocomplete="off"> Pendiente
                    </label>

                    <label class="btn btn-sm btn-info form-check-label">
                        <input class="form-check-input" type="radio" autocomplete="off"> Abierto
                    </label>

                </div>

            </div>
            <!--/Card image-->

            <div class="px-4">

                <div class="table-wrapper">
                    <!--Table-->
                    <table class="table table-hover mb-0" styles="table-layout:fixed;">

                        <!--Table head-->
                        <thead>
                            <tr>
                                <th class="th-lg">Fecha Inicio</th>
                                <th class="th-lg">Hora Inicio</th>
                                <th class="th-lg">Dirección</th>
                                <th class="th-lg">Teléfono</th>
                                <th class="th-lg">Cliente</th>
                                <th class="th-lg">Estado</th>
                                <th class="th-lg">Total</th>
                            </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody class="deliveryTbody">
                            <tr class="table-warning">
                               <td class="deliveryTd font-italic" nowrap>No existen pedidos realizados.</td>
                            </tr>
                            <!--<tr>
                               <td class="deliveryTd">20/10/2018</td>
                               <td class="deliveryTd">02:12:36</td>
                               <td class="deliveryTd">Donado 1026 Bis</td>
                               <td class="deliveryTd">3364340196</td>
                               <td class="deliveryTd">Nelly Garcia</td>
                               <td class="deliveryTd green-text font-weight-bold">Entregado</td>
                               <td class="deliveryTd">$300</td>
                            </tr>-->
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>

                <hr class="my-0">

                <!--Bottom Table UI-->
                <div class="d-flex justify-content-between">

                    <!--Pagination -->
                    <nav class="my-4">
                        <ul class="pagination pagination-circle pg-blue mb-0">

                            <!--First-->
                            <li class="page-item disabled"><a class="page-link">First</a></li>

                            <!--Arrow left-->
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                            </li>

                            <!--Numbers-->
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">4</a></li>
                            <li class="page-item"><a class="page-link">5</a></li>

                            <!--Arrow right-->
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            </li>

                            <!--First-->
                            <li class="page-item"><a class="page-link">Last</a></li>

                        </ul>
                    </nav>
                    <!--/Pagination -->

                </div>
                <!--Bottom Table UI-->

            </div>
        </div>

    </div>
    <div class="col-lg-5 pt-2">
      <div class="card childRight animated fadeIn">
        <!-- Stepper -->
        <div class="steps-form">
            <div class="steps-row text-center setup-panel">
                <div class="steps-step">
                    <a (click)="thisStep(1)" type="button" [ngClass]="{'btn-indigo':this.steps === 1, 'btn-dark-green':this.steps === 2 || this.steps === 3}" class="btn btn-default btn-circle" *ngIf="steps === 1">1</a>
                    <a (click)="thisStep(1)" type="button" [ngClass]="{'btn-indigo':this.steps === 1, 'btn-dark-green':this.steps === 2 || this.steps === 3}" class="btn btn-default btn-circle" *ngIf="steps != 1"><i class="fa fa-check white-text"></i></a>
                    <p>1.Seleccionar Cliente</p>
                </div>
                <div class="steps-step">
                    <a (click)="thisStep(2)" type="button" [ngClass]="{'btn-indigo':this.steps === 2, 'btn-dark-green':this.steps === 3}" class="btn btn-default btn-circle" *ngIf="steps != 3">2</a>
                    <a (click)="thisStep(2)" type="button" [ngClass]="{'btn-indigo':this.steps === 2, 'btn-dark-green':this.steps === 3}" class="btn btn-default btn-circle" *ngIf="steps != 1 && steps != 2"><i class="fa fa-check white-text"></i></a>
                    <p>2.Relizar Pedido</p>
                </div>
                <div class="steps-step">
                    <a (click)="thisStep(3)" type="button" [ngClass]="{'btn-indigo':this.steps === 3}" class="btn btn-default btn-circle">3</a>
                    <p>3. Confirmar Pedido</p>
                </div>
            </div>
        </div>

        <form method="post" novalidate [formGroup]="deliveryOrderForm">
        <!-- First Step -->
        <div class="row setup-content" *ngIf="steps === 1">
            <div class="col-md-12">
                <div class="row">
                     <div class="col-md-6">
                        <div class="md-form">
                            <mdb-completer formControlName="telephone" [label]="'Telefono'" initialValue="" name="autocomplete" [datasource]="dataClientService" [minSearchLength]="0" (keyup.enter)="validateClient(deliveryOrderForm.get('telephone').value)" (blur)="validateClient(deliveryOrderForm.get('telephone').value)">
                            </mdb-completer>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                           <input placeholder="Cliente" formControlName="client" type="text" class="form-control" [class.is-invalid]="deliveryOrderForm.get('client').invalid && (deliveryOrderForm.get('client').dirty || deliveryOrderForm.get('client').touched)" id="client" mdbInputValidate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input placeholder="Direccion" formControlName="searchControl" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search mdbInputValidate>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input placeholder="Piso" formControlName="floor" type="text" class="form-control" [class.is-invalid]="deliveryOrderForm.get('floor').invalid && (deliveryOrderForm.get('floor').dirty || deliveryOrderForm.get('floor').touched)" id="floor" mdbInputValidate>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input placeholder="Departamento" formControlName="flat" type="text" class="form-control" [class.is-invalid]="deliveryOrderForm.get('flat').invalid && (deliveryOrderForm.get('flat').dirty || deliveryOrderForm.get('flat').touched)" id="flat" mdbInputValidate>
                        </div>
                    </div>
                </div>
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
                <div class="row pt-2">
                    <div class="col-md-12">
                        <button class="btn btn-indigo btn-block float-right" [disabled]="deliveryOrderForm.invalid" type="button" (click)="fowardStep(1)">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Step -->
        <div class="row setup-content" *ngIf="steps === 2">
            <div class="col-md-12">
                <div class="row pb-4 pt-4">
                    <div class="col-md-6">
                        <mdb-select [options]="tipo" placeholder="Seleccione un tipo" class="colorful-select dropdown-primary"></mdb-select>
                        <label>Tipo de Entrega</label>
                    </div>
                    <div class="col-md-6">
                        <mdb-select [options]="horario" placeholder="Seleccione un horario" class="colorful-select dropdown-primary"></mdb-select>
                        <label>Horario de Entrega</label>
                    </div>
                </div>
                <div class="card blue-grey lighten-4">
                    <!--Content-->
                    <div class="text-center">
                        <div class="card-body" style="height:22.5rem;">
                            <div class="row">
                                <div style="padding-left: 13.2rem; padding-top:2rem;">
                                    <div class="card-circle" style="border: 2px solid #9e9e9e !important;">
                                        <i class="fa fa-cart-plus grey-text"></i>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top:2rem;">
                                <p class="grey-text">Tu pedido esta vacío.</p>
                                <a class="btn btn-primary waves-effect waves-light"><i class="fa fa-plus"></i> Nuevo Pedido</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row pt-2">
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block float-left" type="button" (click)="backStep(2)">Atras</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-indigo btn-block float-right" [disabled]="deliveryOrderForm.invalid" type="button" (click)="fowardStep(2)">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Step -->
        <div class="row setup-content" *ngIf="steps === 3">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Step 3</strong></h3>
                <button class="btn btn-indigo btn-rounded float-left" type="button" (click)="backStep(2)">Previous</button>
                <button class="btn btn-default btn-rounded float-right" type="submit">Submit</button>
            </div>
        </div>
            
        </form>
      </div>
    </div>
  </div>
</div>