.mdb-select{
font-family: 'Spinnaker', sans-serif !important;
}

h6{
padding-top:20px!important;
text-decoration:underline;
}

.PaginationBackground{
    background-color: #c7cbaf;
    }

.customDate{
padding-top:20px;
}