.mdb-select{
font-family: 'Spinnaker', sans-serif !important;
}


.PaginationBackground{
    background-color: #c7cbaf;
    }

.customDate{
padding-top:20px;
}

label{
color:#718239;
padding-top:5px;
}

tbody{
    background-color: #FFFAF0;
    }