<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<div class="col-12 pl-0 pr-0 formNewEditSettings" *ngIf='section'>
  <div class="col-12 pr-0 outletTitle">
    <h5>
      {{pageTitle}}
    </h5>
  </div>
  <form class="pt-4 pr-3 pl-3" method="post" novalidate [formGroup]="sectionForm">
    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Nombre:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <input mdbActive formControlName="name" type="text" class="form-control"
            [class.is-invalid]="sectionForm.get('name').invalid && (sectionForm.get('name').dirty || sectionForm.get('name').touched)"
            id="name">
        </div>
      </div>
      <div *ngIf="sectionForm.get('name').invalid && (sectionForm.get('name').dirty || sectionForm.get('name').touched)"
        class="alert alert-danger">
        El nombre de la Sala es requerido.
      </div>
    </div>
  </form>
</div>
<div class="col-12">
  <div class="col-7 offset-5">
    <button type="button" class="btn btn-sm customButtonCancel waves-light"
      (click)="showModalCancel(cancelTemplate)">{{cancelButton}}</button>
    <button type="button" class="btn btn-primary btn-sm waves-light" [disabled]="sectionForm.invalid"
      (click)="saveSection()">{{saveButton}}</button>
  </div>
</div>