.search-menu{
    float: left;
    padding-left: 1em;
    padding-top: 0.3em;     
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
 
.fade.in {
    opacity: 1;
}

.customPaddingbottom{
    padding-bottom:20px;
    }

.customPaddingLeft{
padding-left:50px;
}

.PaginationBackground{
background-color: #c7cbaf;
}