<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<div class="row pl-0 pr-0 ml-0 mr-0">
    <div class="col-md-8 col-lg-8 col-sm-8 pr-0 pl-0 mr-0 pr-0 customTitleBar">
        <div class="row pr-0 ml-0 mr-0 pageTitle">
            <header class="major">
                <h5 class="customTitle">{{ pageTitle }}</h5>
            </header>
        </div>        

        <div class="row pl-0 pr-0 ml-0 mr-0 pt-0 heightThree">
            <div class="col-md-12 col-lg-12 col-sm-12 pl-5 pr-5 pt-1 pb-2 mt-2 text-center">  
                <div class="row mb-2 customBox pt-1 pb-2 mt-2 text-center">
                    <form #form="ngForm" novalidate class="form-inline">
                        <h6 class="pt-2">{{ filterLabel }}</h6>
                        <div class="md-form form-group mr-0 ml-0 col-md-7 col-lg-7">
                            <input type="text" class="input-alternate" placeholder="Nombre"  name="query" [(ngModel)]='listFilter' id="query" >
                        </div>
                    </form>    
                </div>

                <div class="row">
                    <table class="table table-bordered table-hover customTable"  mdbTable #tableEl="mdbTable">
                        <thead class="primary-color customTableText">
                            <tr>
                                <th>Producto</th>
                                <th>Controla Stock</th>
                                <th>Minimo</th>
                                <th>Actual</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-wrapper" *ngIf='filteredProducts && filteredProducts.length'>
                            <tr *ngFor = 'let product of filteredProducts; let i = index'>
                                    <td *ngIf='(i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)'>{{ product.name }}</td>
                                    <td *ngIf='(i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)'>{{ product.stockControl }}</td>
                                    <td *ngIf='(i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)'>{{ product.stock?.min }}</td>
                                    <td *ngIf='(i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)'>{{ product.stock?.current }}</td>
                                    <td *ngIf='(i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex)' class="align-middle">
                                        <a [routerLink]="['/restaurant/stockControl/', { outlets: { edit: ['edit', product._id] } }]" ><img src="assets/img/editar.png" height="40px" width="auto"></a>
                                    </td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="5">
                                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="filteredProducts"></mdb-table-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>                
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 mr-0 pr-0 pl-0 pb-0 mt-0 pt-0 outletGeneric">
        <router-outlet name="edit" (deactivate)='reloadItems($event)'></router-outlet>
    </div>
</div>