form{
width:500px;
}


.customPaddingbottom{
    padding-bottom:20px;
    }

.PaginationBackground{
        background-color: #c7cbaf;
        }

.pt-2{
       padding-left:10px;
          }

tbody{
    background-color: #FFFAF0;
     }