<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
      (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<ng-template #nameInvalid>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Producto</h4>
  </div>
  <div class="modal-body">
    Ya existe una carta con ese nombre, elija uno diferente.
  </div>
  <div class="modal-footer">
    <button type="button" class="button special" (click)="closeModal()">Ok</button>
    <button type="button" class="button special" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>
<div class="container">
  <header class="major" align="center">
    <h2>Nueva Carta</h2>
  </header>
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" method="post" novalidate>

        <div class="form-group">
          <label>Nombre Carta:</label>
          <input #menuName="ngModel" required type="text" class="form-control" [class.is-invalid]="menuName.invalid && (menuName.dirty || menuName.touched)" name="menuName" 
                id="menuName" [(ngModel)]="newMenu.name">
        </div>

        <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)" class="alert alert-danger">
          El nombre de la carta es requerido.
        </div>

        <app-file-input (validator)="onNotified($event)" [type]="'img'" [subtype]="'menu'"></app-file-input>
        <div *ngIf="validPicture == '' && pictureTouched == true" class="alert alert-danger">
          La imagen de la carta es requerida.
        </div>        

        <div class="12u$">
          <ul class="actions" align="center">
            <li><input [disabled]="form.invalid || validPicture === ''" type="submit" value="Guardar" class="special" (click)="validateName()"/></li>
            <li><input type="button" value="Cancelar" (click)="showModalCancel(cancelTemplate)" /></li>
          </ul>
        </div>    

      </form>
    </div>
    <div class="col-md-6">
      <img [src]="newMenuPictureData"  onerror="this.src='../../../assets/img/No_image_available.svg'"/>
    </div>
  </div>
</div>