<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
      (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<div class="container">
  <header class="major" align="center">
    <h2>Nueva Carta</h2>
  </header>
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" method="post" novalidate>

        <div class="form-group">
          <label>Nombre Carta:</label>
          <input #menuName="ngModel" required type="text" class="form-control" [class.is-invalid]="menuName.invalid && (menuName.dirty || menuName.touched)" name="menuName" 
                id="menuName" [(ngModel)]="newMenu.name">
        </div>

        <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)" class="alert alert-danger">
          El nombre de la carta es requerido.
        </div>
        
        <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
          <div class="row pl-2">
            <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
              <mdb-checkbox name="menuAvailable" [(ngModel)]="newMenu.available"> {{ checkboxAvailableText }}
              </mdb-checkbox>
            </div>
          </div>
        </div>

        <app-file-input (validator)="onNotified($event)" [type]="'img'" [subtype]="'menu'"></app-file-input>
        <div *ngIf="validPicture == '' && pictureTouched == true" class="alert alert-danger">
          La imagen de la carta es requerida.
        </div>        

        <div class="12u$">
          <ul class="actions" align="center">
            <li><input [disabled]="form.invalid || validPicture === ''" type="submit" value="Guardar" class="special" (click)="saveMenu()"/></li>
			<li>
			<div class="boton-cancelar">
			<input type="button" value="Cancelar" (click)="showModalCancel(cancelTemplate)" />
			</div>
			</li>
          </ul>
        </div>    

      </form>
    </div>
    <div class="col-md-6">
      <img [src]="newMenuPictureData"  onerror="this.src='../../../assets/img/no-image.png'" style="width: 300px; height: 316px;"/>
    </div>
  </div>
</div>