<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<div *ngIf='transaction' class="col-12 pl-0 pr-0">
  <div class="col-12 pr-0 outletTitle">
    <h5>
      {{pageTitle}}
    </h5>
  </div>
  <form class="pt-4 pr-3 pl-3" #form="ngForm" method="post" novalidate>
    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Cliente:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.client.name }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Monto:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.amount }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Fecha Creación:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.date | date:'dd/MM/yy HH:mm' }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Medio de Pago:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.paymentMethod.name }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Caja:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.cashRegister.name }}</label>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3" *ngIf="transaction.comment !== undefined">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Comentario:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <label>{{ transaction.comment }}</label>
        </div>
      </div>
    </div>
  </form>
</div>