<div class="container col-md-12">
  <div class="row pageTitle primary-color">
    <div class="col-md-12">
      <h4 class="text-white text-center mb-0">{{ errorTitle }}</h4>    
    </div>
  </div>

  <div class="modalContent">
    {{errorMessage}}
  </div>
  
  <div class="row customFooterModal">
    <div class="col-3 offset-9">
      <button type="button" mdbBtn  rounded="true" [class.btn-primary-custom]="true" size="sm" mdbWavesEffect [class.okButton]="true" (click)="closeModal()">{{ buttonOk }}</button>
    </div>
  </div>
</div>