<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<!-- Form -->
<div *ngIf='paymentType' class="col-12 pl-0 pr-0 formNewEditSettings">
  <div class="col-12 pr-0 outletTitle">
    <h5>
      {{pageTitle + ': ' + paymentTypeNameModified}}
    </h5>
  </div>

  <form method="post" novalidate [formGroup]="paymentTypeForm">
    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <div class="col-md-4 col-lg-4 col-sm-4 pr-0">
          <label>Nombre:</label>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
          <input formControlName="name" type="text" class="form-control"
            [class.is-invalid]="paymentTypeForm.get('name').invalid && (paymentTypeForm.get('name').dirty || paymentTypeForm.get('name').touched)"
            id="name">
        </div>
      </div>
      <div
        *ngIf="paymentTypeForm.get('name').invalid && (paymentTypeForm.get('name').dirty || paymentTypeForm.get('name').touched)"
        class="alert alert-danger">
        El nombre de la Forma de Pago es requerido.
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <mdb-checkbox [class.checkbox-primary-custom]="true"  formControlName="available" (change)="handleClickAvailable()"> {{ checkboxAvailableText }}
        </mdb-checkbox>
      </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
      <div class="row pl-2">
        <mdb-checkbox [class.checkbox-primary-custom]="true"  formControlName="default"> {{ checkboxDefaultText }}</mdb-checkbox>
      </div>
    </div>
  </form>
</div>
<div class="col-12">
  <div class="col-7 offset-5">
    <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.customButtonCancel]="true"
      (click)="showModalCancel(cancelTemplate)">{{cancelButton}}</button>
    <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.btn-primary-custom]="true" [disabled]="paymentTypeForm.invalid"
      (click)="updatePaymentType()">{{saveButton}}</button>
  </div>
</div>