<!-- Wrapper -->
<div id="wrapper">
	<div class="containter-fluid customMB" *ngIf="currentUser">
	<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navBarColor pr-0" [containerInside]="false">
		<logo>
			<a class="logo navbar-brand pl-4" href="#"><img src="assets/img/logo-blanco.png" height="40px" width="auto"></a>
		</logo>
		<links>
			<!-- App Menus -->
			<ul class="navbar-nav mr-auto">
				<div *ngFor='let appMenu of appMenus'>
					<li *ngIf='appMenu.show' class="nav-item waves-light customLi" [class.customNavBarItem]="true" [routerLinkActive]="['customActive']" mdbTooltip="{{ 'AppMenus.' + appMenu._id | translate }}" placement="bottom" mdbRippleRadius>
							<a [routerLink]="appMenu._id" class="nav-link"><img [src]="appMenu.imgsrc" height="50px" width="auto"></a>
					</li>
				</div>
			</ul>
			
			<ul class="navbar-nav nav-flex-icons">
				<li class="pt-0 pr-2 text-center customLiDate" mdbRippleRadius>
					<p class="mb-0 customDate">{{ myDate | date:'EEEE'}}</p>
					<p class="mb-0 customDate">{{ myDate | date:'MMMM d'}}</p>
				</li>
				<li class="pt-2 customLiDate">
					<h5 class="mb-0">{{ myDate | date:'HH:mm:ss'}}</h5>
				</li>
				<li class="nav-item dropdown btn-group pr-2" dropdown>
					<a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius><img src="assets/img/perfil2.png" height="50px" width="auto">
						<b>User</b><span class="caret"></span></a>
				
					<div *dropdownMenu class="dropdown-menu dropdown-primary dropdown customUser" role="menu">
						<a class="dropdown-item waves-light" href="#" mdbRippleRadius>Cuenta</a>
						<a class="dropdown-item waves-light" (click)="logout()" mdbRippleRadius>Salir</a>
					</div>
				</li>
			</ul>
		</links>
	</mdb-navbar>
	</div>
	<div class="container-fluid col-md-12 customContainer">
		<router-outlet></router-outlet>
	</div>	
</div>

<ng-http-loader spinner="sk-three-bounce"></ng-http-loader>