<div class="col-md-12">
  <div class="row pageTitle primary-color">
    <div class="col-md-12">
      <h4 class="text-white text-center mb-0">{{ modalTitle }}</h4>    
    </div>
  </div>

  <div class="modalContent modalContentDelete">
    {{modalMessage}}
  </div>
  
  <div class="row customFooterModal">
    <div class="footerButtons">
      <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.customButtonCancel]="true" (click)="closeModal()">{{cancelButton}}</button>
      <button type="button" mdbBtn rounded="true" [class.btn-primary-custom]="true" size="sm" mdbWavesEffect [class.okButton]="true" (click)="deleteItem()">{{ okButton }}</button>
    </div>
  </div>
</div>