<ng-template #deleteTemplate>
  <app-delete-template [modalTitle]="modalDeleteTitle" [modalMessage]="modalDeleteMessage"
      (delete)="deleteCashRegister()" (close)="closeModal()">
  </app-delete-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="col-md-12">
        <div class="row pageTitle primary-color">
          <div class="col-md-12">
            <h4 class="text-white text-center mb-0">{{ confirmationTitle }}</h4>    
          </div>
        </div>
      
        <div class="modalContent" >
          {{confirmationText + confirmationPath}}
        </div>
        
        <div class="row customFooterModal">
          <div class="col-3 offset-9">
            <button type="button" mdbBtn  rounded="true" [class.btn-primary-custom]="true" size="sm" mdbWavesEffect [class.okButton]="true" (click)="closeModal()">{{ buttonOk }}</button>
          </div>
        </div>
      </div>
</ng-template>

<div class="row pl-0 pr-0 ml-0 mr-0 pt-0 heightThree">
  <div class="col-md-12 col-lg-12 col-sm-12 pr-0 pl-0 mr-0 pr-0">
      <div class="settingsTitle">
          <div class="float-left">
              <header class="major">
                  <h5 class="customTitle">{{ pageTitle }}</h5>
              </header>
          </div>
      </div>
      <div class="ml-5 mr-5 pl-5 pr-5  pt-1 pb-2 mt-2 text-center">
          <div class="row">
            {{ tablesText }}
          </div>
          <div class="row">
              <div *ngFor="let table of tables" style="border: solid 2px #718239; padding:1rem; border-radius:20px; margin:5px;">
                  <mdb-checkbox [class.checkbox-primary-custom]="true"  (change)="addToGenerator(table)">{{ table.number }}</mdb-checkbox>
              </div>
          </div>
          <div class="row">
              <button [disabled]="tablesToGenerateQR.length === 0" type="button" mdbBtn [class.btn-primary-custom]="true"
              (click)="generateQR()">Generar!</button>
          </div>
      </div>
  </div>
</div>