h2{
font-size:20px;
padding:20px;
color:#999;
}

.customImage{
height:auto;	
width:30%;
}


form{
margin:50px;
}

ul li{
list-style:none;
display:inline-block;
margin:10px;
}

ul li input.special{
background-color:#718239;
border-radius:30px;
border-color:transparent;
padding:10px;
color:#fff;
}


.cancel{
background-color:transparent;
border-radius:30px;
border-color:#bd290c;
padding:10px;
border:2px solid;
color:#bd290c;
}