<ng-template #cancelTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage" (handleOkButton)="cancel()"
    (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<ng-template #errorTemplate>
  <app-error-template [errorTitle]="modalErrorTittle" [errorMessage]="modalErrorMessage" (close)="closeModal()">
  </app-error-template>
</ng-template>

<ng-template #confirmDisableMenuAndCategoriesAndProductsTemplate>
  <app-cancel-template [modalTitle]="modalCancelTitle" [modalMessage]="modalCancelMessage"
    (handleOkButton)="disableMenuAndCategoriesAndProducts(menu._id)" (handleCancelButton)="closeModal()">
  </app-cancel-template>
</ng-template>

<!-- Form -->
<div class="container" *ngIf='menu'>
  <header class="major" align="center">
    <h2>Editando: {{menuNameModified}}</h2>
  </header>

  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" method="post" novalidate>
        <div class="form-group pt-5 pr-5">
          <label>Nombre Carta:</label>
          <input #menuName="ngModel" required type="text" class="form-control customInput"            
            [class.is-invalid]="menuName.invalid && (menuName.dirty || menuName.touched)" name="menuName" id="menuName"
            [(ngModel)]="menu.name">
        </div>

        <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)" class="alert alert-danger">
          El nombre de la carta es requerido.
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 md-form form-sm pt-3 pb-3 pr-3 pl-3">
          <div class="row pl-2">
            <div class="col-md-5 col-lg-5 col-sm-5 pl-0">
              <mdb-checkbox [class.checkbox-primary-custom]="true" name="menuAvailable" [(ngModel)]="menu.available">
                {{ checkboxAvailableText }}
              </mdb-checkbox>
            </div>
          </div>
        </div>

        <app-file-input (validator)="onNotified($event)" [type]="'img'" [subtype]="'menu'">
        </app-file-input>
        <div *ngIf="validPicture == false && pictureTouched == true" class="alert alert-danger">
          La imagen de la carta es requerida.
        </div>

        <div>
          <ul align="center">
            <li>
              <button id="cancel" mdbBtn role="button" rounded="true" size="md" mdbWavesEffect
                [class.btn-primary-custom]="true" type="button" class="boton-cancelar"
                (click)="showModalCancel(cancelTemplate, cancelMessage, cancelTitle)">Cancelar
              </button>
            </li>
            <li>
              <button mdbBtn role="button" rounded="true" size="md" mdbWavesEffect [class.btn-primary-custom]="true"
                [disabled]="form.invalid" type="submit" (click)="updateMenu(menu)">Guardar</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <img [src]="menuPictureData" onerror="this.src='../../../assets/img/no-image.png'" class="customImg" />
    </div>
  </div>
</div>