#name {
  width: 15rem;
}

#price {
  width: 5rem!important;
  text-align: right!important;
}

ul li {
  display:inline-block!important;
}

.customPaddingbottom{
  padding-bottom:20px;
  }  

  .PaginationBackground{
    background-color: #c7cbaf;
    }