.menusContainer{
    width: 100%;
    overflow-x: hidden!important;
    height: 10%;
    background-color:#c7cbaf;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menuButtonContainer{
    height:80%;
    width: 15%;
    display:inline-block;
    padding:0;
    padding-right: 1rem;
    margin-left: 0px;
    margin-right: 0px;
}

.menuButton{
    height:100%;
    width: 100%;
}
.categoriesAndProductsContainer{
    overflow: hidden!important;
    height: 90%;
}
.categoriesContainer{
    background-color: #fff0db;
    height:100%;
    //min-width:13rem;
    overflow-y: scroll;
}

.categoryButtonContainer{
    padding:0;
    padding-top: .5rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 15%;
}

.categoryButton{
    width: 90%;
    height: 80%;
    font-size: 80%!important;
}

.productsContainer{
    background-color: #fff0db;
    height: 100%;
    width: 45%;
    overflow-y: scroll;
}

.productInOrderLabel{
    height: 3rem!important;
    padding-top: 1.1rem!important;
}

.productsButtonContainer{
    padding:0;
    padding-left: 0px;
    padding-top: .5rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 15%;
    width: 30%;    
}

.usersOrderingLabel{
    padding-top: 1.2rem!important;
    height: 4rem!important;
}

.productButton{
    width: 90%;
    height: 90%;
    font-size: 80%!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customScrollBar::-webkit-scrollbar {
    width: 6px;
}

.customScrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}

.customScrollBar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.customPaddle{
    background-color: #718239;
    border: 2px solid #718239;
    border-radius: 50px;
    color:#fff;
}

.customSubtittle{
    font-size: 80%!important;
    padding-top: 0px;
    padding-bottom: .5rem;
    padding-left:1.1rem;
}

.customTextColor{
    color:#4B515D!important;
    font-weight: bold;
}

.customTableNumberTitle{
    height: 10%;
    padding-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.customPreOrderAdition{
    padding-right: .5rem;
}

.customProductInputName{
    width: 10rem!important;
    height: 2.5rem!important;
    overflow: hidden;
}

.customProductShowingName{
    width: 20rem!important;
    height: 2.5rem!important;
    overflow: hidden;
    margin-left: .75rem;
    margin-right: .75rem;
}

.customAddProductsTitle{
    background-color: #fddaa2;
    color: #424242;
    font-weight: bold;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.customAddProductsSection{
    background-color: #fff0db;
    padding-top: 0.5rem;
}

.infoSection{
    background-color: #fff0db;
    border-left: solid 4px #fff0db;
}

.buttonOrder{
    height: 2rem!important;
}

.preordeerProduct{
    padding-left: 1.5rem;
    padding-top: .5rem;
    background-color: #fddaa2;
    border-left: solid 4px #fddaa2;
    border-top: solid 1px #fddaa2;  
}

.totalToConfirm{
    background-color: #fff0db;
    border-left: solid 4px #fff0db;
    border-top: solid 1px #fff0db;
    border-bottom: solid 1px #fff0db;  
}

.productsInOrder{
    background-color: #fff0db;
    border-left: solid 4px #fff0db;
    border-top: solid 1px #fff0db;
}

.productLine{
    // border-bottom: solid 1px #d0d0d0;
    padding-top: .5rem;
}

.totalOrder{
    background-color: #718239;
    color: white;
    font-weight: bold;
    padding-top: 1.4rem;
    padding-bottom: .75rem;

}

.activeItem{
    border-bottom: solid 3px #4c4c4c;
}

.increaseDecreaceIcon{
    color: #718239;
}

.increaseDecreaceButton{
    border: 2px solid #718239;
    background-color: transparent;
    border-radius:30px;
    font-size:12px;
}

.increaseDecreaceButton:active {
    box-shadow: 0 1px 3px #da6 inset
}

.increaseDecreaceButton:hover,.increaseDecreaceButton:focus {
    background: #ffe391;
    opacity: .8;
}

.productQuantityPriceContainer{
    border: 1px solid transparent;
}

.productPrice{
    padding-bottom: .65rem;
}

.selectSizeAndOptionsLabel{
    padding-top: 2.5rem!important;
}

.footerButtons{
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-left:30%;
}

.warningMsg {
  color: #e43012;
  font-size: 12px;
}

.secondary-color{
background-color: #fddaa2!important;
}

.span-padding{
    padding:15px;
}

.waiterSelect {
  margin-top: -1rem;
}

.searchProduct {
  margin-top: .8rem;
}

#prodQty {
  text-align: right;
  height: 2rem;
}

.customBorder{
    border-bottom:grey;
}