.menusContainer{
    width: 100%;
    overflow-x: hidden!important;
    height: 10%;
    background-color:rgba(244, 67, 54, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menuButtonContainer{
    height:80%;
    width: 15%;
    display:inline-block;
    padding:0;
    padding-right: 1rem;
    margin-left: 0px;
    margin-right: 0px;
}

.menuButton{
    height:100%;
    width: 100%;
}
.categoriesAndProductsContainer{
    overflow: hidden!important;
    height: 90%;
}
.categoriesContainer{
    background-color: rgba(244, 67, 54, 0.2);
    height:100%;
    //min-width:13rem;
    overflow-y: scroll;
}

.categoryButtonContainer{
    padding:0;
    padding-top: .5rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 15%;
}

.categoryButton{
    width: 90%;
    height: 80%;
    font-size: 80%!important;
}

.productsContainer{
    background-color: rgba(244, 67, 54, 0.1);
    height: 100%;
    width: 45%;
    overflow-y: scroll;
}

.productsButtonContainer{
    padding:0;
    padding-left: .5rem;
    padding-top: .5rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 15%;
    width: 25%;    
}

.productButton{
    width: 90%;
    height: 90%;
    font-size: 80%!important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customScrollBar::-webkit-scrollbar {
    width: 6px;
}

.customScrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}

.customScrollBar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.customPaddle{
    background-color: rgba(0, 0, 0, 0.207);
    border: none;
}

.customSubtittle{
    font-size: 100%!important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left:1.5rem;
}

.customTextColor{
    color:#4B515D!important;
    font-weight: bold;
}

.customTableNumberTitle{
    height: 15%;
    padding-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.customPreOrderAdition{
    padding-right: .5rem;
}

.customProductInputName{
    width: 10rem!important;
    height: 2.5rem!important;
    overflow: hidden;
}

.customProductShowingName{
    width: 20rem!important;
    height: 2.5rem!important;
    overflow: hidden;
    margin-left: .75rem;
    margin-right: .75rem;
}

.customAddProductsTitle{
    background-color: #fac366;
    color: #424242;
    font-weight: bold;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.customAddProductsSection{
    background-color: #fff0db;
    padding-top: 0.5rem;
}

.infoSection{
    background-color: #f6f6f6;
    border-left: solid 4px #999999;
}

.buttonOrder{
    height: 2rem!important;
}

.preordeerProduct{
    padding-left: 1.5rem;
    padding-top: .5rem;
    background-color: #fddaa2;
    border-left: solid 4px #fb4;
    border-top: solid 1px #f5c963;  
}

.totalToConfirm{
    background-color: #f3f3f3;
    border-left: solid 4px #999999;
    border-top: solid 1px #f5c963;
    border-bottom: solid 1px #d0d0d0;  
}

.productsInOrder{
    background-color: #f3f3f3;
    border-left: solid 4px #fb4;
    border-top: solid 1px #d0d0d0;
}

.productLine{
    border-bottom: solid 1px #d0d0d0;
    padding-top: .5rem;
}

.totalOrder{
    background-color: #718239;
    color: white;
    font-weight: bold;
    padding-top: .75rem;
    padding-bottom: .75rem;

}

.activeItem{
    border-bottom: solid 3px #4c4c4c;
}

.increaseDecreaceIcon{
    color: #718239;
}

.increaseDecreaceButton{
    border: 2px solid #718239;
    background-color: transparent;
    border-radius:30px;
}

.increaseDecreaceButton:active {
    box-shadow: 0 1px 3px #da6 inset
}

.increaseDecreaceButton:hover,.increaseDecreaceButton:focus {
    background: #ffe391;
    opacity: .8;
}

.productQuantityPriceContainer{
    border: 1px solid transparent;
}

.productPrice{
    padding-bottom: .65rem;
}

.selectSizeAndOptionsLabel{
    padding-top: 2.5rem!important;
}

.footerButtons{
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-left:30%;
}

.warningMsg {
  color: red;
}