<div class="customOpenOrder container col-md-12">
  <div class="row pageTitle primary-color">
    <div class="col-md-12">
      <h4 class="text-white text-center mb-0">{{title}}</h4>    
    </div>
  </div>
  <div class="customOpenOrderContent">
    <div class="row mb-3" id="firstRow">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <label for="tableNumber">{{tableNumber}}:</label>
        <label id="tableNumber" mdbActive> {{ selectedTable.number }}</label>
      </div>
    </div>
    <div class="row" id="secondRow">
      <div class="col-md-12 col-lg-12 col-sm-12">
          <mdb-select #client name="client" id="client" [options]="clientSelect"  
          [(ngModel)]="clientSelected" (selected)="selectClient(client.value)" placeholder="Seleccionar Cliente" class="colorful-select dropdown-primary"></mdb-select>
      </div>  
    </div>
  </div>
  <div class="row customFooterModal">
    <div class="customOrderButtons">
      <button type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.customButtonCancel]="true" (click)="closeModal()">{{cancelButton}}</button>
      <button #okButton type="button" mdbBtn role="button" rounded="true" size="sm" mdbWavesEffect [class.btn-primary-custom]="true" (click)="newOrder()">{{confirmButton}}</button>
    </div>
  </div>
</div>

