
<!-- Nav tabs -->
<ul class="nav classic-tabs tabs-primary customLinksColor">
  <li class="nav-item customFirstLi">
    <a class="waves-effect"
    [routerLink]="['general']" routerLinkActive="active">
        Configuración General
    </a>
  </li>
  <li class="nav-item">
    <a class="waves-effect"
    [routerLink]="['section']" routerLinkActive="active">
        Salas y Mesas
    </a>
  </li>
 </ul>
 <!-- Tab panels -->
 <div class="tab-content customContentCard">
    <router-outlet></router-outlet>
 </div>